%btn {
  display: inline-block;
  border-radius: 5px;
  border-width: 0;
  width: 50%;
  height: 36px;
  padding: 8px 20px;
  margin: 10px 0;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  @include set-background($primary);
}

.btn-secondary {
  @extend %btn;
  @include set-background($secondary);
  color: #fff;
}
